.app-component {
  display: flex
  .app-selector {
    margin: 60px auto
    width: 420px;
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    .header-slot {
      height: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 360px;
      font-size: 18px;
      color: #333;
    }
  }
}

